# ACO Configuration
# The following values define the Commerce Optimizer instance data will be synchronized to.
# See ACO SDK documentation for more information: https://github.com/adobe-commerce/aco-ts-sdk?tab=readme-ov-file#get-your-tenant-id-region-and-environment
# ACO_TENANT_ID: The ID of your Commerce Optimizer instance (ie.XdAHsRLZSusTtmCu3Kzobk).
# ACO_REGION: The region your Commerce Optimizer instance is in (ie. na1)
# ACO_ENVIRONMENT_TYPE: The type of Commerce Optimizer instance (ie. sandbox or production).
# ACO_STOREFRONT_URL: The URL of your Commerce Optimizer storefront. Optional.
ACO_TENANT_ID=
ACO_REGION=
ACO_ENVIRONMENT_TYPE=
ACO_STOREFRONT_URL=

# AppBuilder Server-to-Server Credentials
# The following values can be copied from the Credential details page in AppBuilder under Organization > Project > Workspace > OAuth Server-to-Server
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_TECHNICAL_ACCOUNT_ID=
OAUTH_TECHNICAL_ACCOUNT_EMAIL=
OAUTH_ORG_ID=

# Workspace Configuration
# The following values can be copied from the JSON downloadable in AppBuilder from Organization > Project > Workspace
# IO_CONSUMER corresponds to project.org.id
# IO_PROJECT_ID corresponds to project.id
# IO_WORKSPACE_ID corresponds to project.workspace.id
IO_CONSUMER_ID=
IO_PROJECT_ID=
IO_WORKSPACE_ID=

# SFCC Configuration
# The following values define the Salesforce Commerce Cloud instance data will be synchronized from.
# SFCC_API_BASE_URL: The base URL of your SFCC instance’s SCAPI endpoint.
# SFCC_REALM_ID: Your SFCC instance’s Realm ID.
# SFCC_INSTANCE_ID: Your SFCC instance’s instance ID.
# SFCC_ORGANIZATION_ID: Your SFCC instance’s organization ID.
# SFCC_SITE_URL: The URL of the frontend of your SFCC site. Optional.
# SFCC_ADMIN_SITE_URL: The URL of the Business Manager backend of your SFCC site. Optional.
# SFCC_SITE_ID: The id of the SFCC site to sync.
# SFCC_LOCALES_TO_SYNC: A comma separated list of the locales to sync (ie. en-US,fr).
SFCC_API_BASE_URL=
SFCC_REALM_ID=
SFCC_INSTANCE_ID=
SFCC_ORGANIZATION_ID=
SFCC_SITE_URL=
SFCC_ADMIN_SITE_URL=
SFCC_SITE_ID=
SFCC_LOCALES_TO_SYNC=

# SFCC Credentials
# The following values configure the Salesforce Commerce Cloud SCAPI client used to retrieve data.
# SFCC_AUTH_URL: The URL of the SFCC OAuth endpoint.
# SFCC_CLIENT_ID: The ID of the SFCC Admin API client.
# SFCC_CLIENT_SECRET: The client secret associated with the SFCC Admin API client above.
SFCC_AUTH_URL=https://account.demandware.com/dwsso/oauth2/access_token
SFCC_CLIENT_ID=
SFCC_CLIENT_SECRET=

# Open Telemetry
TELEMETRY_ENABLE=
NGROK_URL=

IO_MANAGEMENT_BASE_URL=https://api.adobe.io/events/
